.navbar-brand {
    font-weight: 700;
  }
  
#mainC {
  padding-top: 90px;
}

.containerx {
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f2f2f2;
  scroll-snap-type: y mandatory;
}

.item {
  display: flex;
  height: 100vh;
  background-color: gold;
  scroll-snap-align: center;
  padding-left: 3vh;
  padding-top: 10vh;
  padding-right: 3vh;
}

  /* Hide scrollbar for Chrome, Safari and Opera */
  .containerx::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.containerx {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
}

.btnMenu {
  font-size: 16px;
  font-weight: 400;
}

.articleTitle {
  font-size: 24px;
  font-weight: 700;
}

.articleSubtitle {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.articleBody {
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.articleDate {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    text-align: right;
}